.aboutUsContainer p {
    font-size: 2rem;
    color: white;
    text-align: center;
    /* font-family: sans-serif; */
}

.images img {
    width: 100%;
}

.images img:nth-child(1) {
    position: absolute;
    width: 40%;
    top: 0%;
}

.images img:nth-child(2) {
    position: absolute;
    width: 28%;
    right: 0px;
    top: 30%;
}

.images img:nth-child(3) {
    position: absolute;
    width: 20%;
    right: 32%;
    margin-top: 50px;
}

.images img:nth-child(4) {
    position: absolute;
    width: 20%;
    left: 22%;
    margin-top: 50%;
}
.floatsImageContainer{
    /* margin-top: 7rem; */
    position: relative;
    height: 170vh;
}
.images{
    position: relative;
}
.BtnContainer{
    margin: 40px 0px;
    display: flex;
    justify-content: center;
}

@media (min-width:1300px) and (max-width:3000px){
    .aboutUsContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .aboutUsContainer p {
        font-size: 2rem;
        color: white;
        text-align: center;
        width: 70%;
        margin: auto;
        /* font-family: sans-serif; */
    }
    
}