#InventoriesHeading {
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
    position: sticky;
    /* margin-top: 4rem; */
    top: 40%;
    /* margin-bottom: 30vh; */
    z-index: -1;
}

#InventoriesContainer {
    margin: 4rem 0rem;
}

.BillBoardsTypes {
    background-color: black;
    padding: 1rem 0rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.dash {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
}

/* .dash {
    border: 2px solid #ffed00;
} */

.InventoriesTypesContainer {
    width: 50%;
    margin: 0 auto;
    min-height: 60%;
    overflow: hidden;
    background-color: black;
    margin-bottom: 4rem;

}

.InventoriesTypesContainer img {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 5px;
    margin: auto;
    border: 2px solid #ffed00;
    padding: 5px;
    display: block;
    /* animation: frame-enter 5s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite; */
    
}

  
.InventoriesTypesContainer h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: -30px;
    position: sticky;
}

.InventoriesImageContainer {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.hetContent p {
    font-size: 2rem;
    color: white;
    text-align: center;
}

@media (max-width:769px) {
    #InventoriesContainer {
        margin-top: 0rem;
        margin-bottom: 3rem;
    }

    .InventoriesTypesContainer {
        width: 100%;
        margin: 0 auto;
        min-height: 60%;
        overflow: hidden;

    }

    #InventoriesHeading {
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        position: sticky;
        top: 40%;
        margin-bottom: 0;
        z-index: -1;
    }

    .InventoriesTypesContainer h1 {
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;
        position: sticky;
    }
}



.animated-box {
    font-family: 'Lato';
    color: #ffffff;
    /* padding: 30px; */
    text-align: center;
    border-radius: 4px;
  }
  
  .animated-box h1 {
    font-weight: 200;
    /* font-size: 40px; */
    text-transform: uppercase;
  }
  
  .animated-box p {
    font-weight: 200;
  }
  
  /* The animation starts here */
  .animated-box {
    position: relative;
    background-color: transparent;
  }
  
  .animated-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: linear-gradient(120deg, #ffed00, #ffed00, #ffed00);
    background-size: 300% 300%;
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  
  .animated-box.in:after {
    animation: frame-enter 5s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
  }
  
  /* motion */
  @keyframes gradient-animation {
    0% {
      background-position: 15% 0%;
    }
    50% {
      background-position: 85% 100%;
    }
    100% {
      background-position: 15% 0%;
    }
  }
  
  @keyframes frame-enter {
    0% {
      clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    25% {
      clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    50% {
      clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
    }
    75% {
      -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
    }
    100% {
      -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
    }
  }
  