#Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  padding-bottom: 2rem;
}

#Footer h1 {
  font-size: 9rem;
  background: linear-gradient(
    to right,
    #fcffe6 10%,
    #f9ffa3 20%,
    #fbff7a 30%,
    #ffff52 40%,
    #fff829 50%,
    #ffed00 60%,
    #d9c300 70%,
    #b39b00 80%,
    #8c7500 90%,
    #665200 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 4s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.SocialIcons {
  display: flex;
  width: 100%;
  justify-content: end;
}

.SocialIcons > div {
  display: flex;
  margin-right: 50px;
}

.SocialIcons > div div {
  margin: 0px 20px;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
}

.SocialIcons > div div i {
  rotate: -45deg;
  transition: 0.5s;
}

.SocialIcons > div div:hover i {
  rotate: -45deg;
  transform: translateX(5px);
  transition: 0.5s;
  color: #ffed00;
}
.SocialIcons >div div:hover{
  color: #ffed00;
}
.copyrightText {
  width: 100%;
}

.copyrightText p {
  text-align: start;
  color: white;
  display: flex;
  align-items: center;
}

.copyrightText p i {
  rotate: -45deg;
  transition: 0.5s;
  color: white;
}
.copyrightText p a {
  color: white;
  
}
.copyrightText p:hover i {
  rotate: -45deg;
  transform: translateX(5px);
  transition: 0.5s;
  color: #ffed00;
}
.copyrightText p:hover{
  color: #ffed00;
}
.copyrightText p:hover a{
  color: #ffed00;
}
#ContactInfo {
  display: none;
}

@media (max-width: 769px) {
  #ContactInfo {
    display: block;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .SocialIcons {
    display: flex;
    flex-direction: column;
  }

  #Footer h1 {
    font-size: 3rem;
  }

  .SocialIcons > div {
    display: flex;
    margin-right: 0px;
    justify-content: center;
  }

  .SocialIcons > div div {
    margin: 0px 10px;
    cursor: pointer;
  }

  .SocialIcons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0px;
  }
}
