#Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    padding-bottom: 2rem;
}

#Footer h1 {
    font-size: 10rem;
    color: white;
}

.SocialIcons {
    display: flex;
    width: 100%;
    justify-content: end;
}
.SocialIcons a{
    color: white;
}
.SocialIcons>div {
    display: flex;
    margin-right: 50px;
}

.SocialIcons>div div {
    margin: 0px 20px;
    cursor: pointer;
}

.SocialIcons>div div i {
    rotate: -45deg;
    transition: .5s;
}

.SocialIcons>div div:hover i {
    rotate: -45deg;
    transform: translateX(5px);
    transition: .5s;

}

.copyrightText {
    width: 100%;
}

.copyrightText p {
    text-align: start;
    color: white;
    display: flex;
    align-items: center;
}


.copyrightText p a {
    color: white;
}
.copyrightText p i{
    rotate: -45deg;
    transition: .5s;
}
.copyrightText p:hover i {
    rotate: -45deg;
    transform: translateX(5px);
    transition: .5s;
}

@media (max-width:769px){
    #Footer h1 {
        font-size: 3rem;
        color: white;
    }
    .SocialIcons>div {
        display: flex;
        margin-right: 0px;
    }
    .SocialIcons>div div {
        margin: 0px 10px;
        cursor: pointer;
    }
    .SocialIcons {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 20px 0px;
    }
}