.overlayImageContainer {
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 1s ease-in-out; /* Smooth transition */
  }
  
  .blackOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  }
  
  .homeScreenLogo {
    position: relative;
    z-index: 1; /* Ensure the logo is above the overlay */
  }
  