.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: transparent;
    z-index: 110;

}
@media (max-width:769px){
    .navigation{
        display: none;
    }
}
.navigation>div {
    width: 100%;
    background-color: transparent;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation>div ul {
    display: flex;
    align-items: center;
}

.navigation>div ul li {
    margin: 0px 10px;
    font-size: 1rem;
    cursor: pointer;
}
.LogoContainer img{
    display: none;
}
.sticky .LogoContainer img{
    display: block;
}
#Navigationbtn .BtnStyle{
    font-size:13px;
    padding: 8px 17px;
    background-color: #ffed00;
    border: none;
    margin: 10px;
}
#Navigationbtn .BtnStyle:hover{
    font-size:13px;
    padding: 8px 17px;
    background-color: #ffed00;
    border: none;
    color: black;
    transform: scale(1.1);
    margin: 10px;
}